---
layout: default
title: Projects
coffee_custom: projects
---
<div class='submenu navbar'>
<ul>
	<li>
		<!--Filter button-->
		<div class="dropdown">
  		<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Filter
  		</button>
  		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    		<a class="dropdown-item rainbow-circle-Order" href="#" onclick='filterLanguage("repo")'>All <span class='rainbow-circle'></span></a>
				{% for language in site.data.data.languages %}
    		<a class="dropdown-item {{language}}-Order" href="#" onclick='filterLanguage("{{language}}")'>{{language}} <span class='{{ language }}'></a>
				{% endfor %}
  		</div>
		</div>
		<!--Sort button-->
		<div class="dropdown">
  		<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort
  		</button>
  		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    		<a class="dropdown-item" href="#" onclick='sortRepos("name")'>Name</a>
				<a class="dropdown-item" href="#" onclick='sortRepos("date")'>Date</a>
  		</div>
		</div>
	</li>
</ul>
</div>
<div class="main filter">
{% for repo in site.data.data.repos %}
{% assign whichColumn = forloop.index0 | modulo:3 %}
{% if whichColumn == 0 %}
<!-- row -->
<div class='row'>
	<div class='col-md-2 side-col'></div>
{% elsif whichColumn == 1 %}
	<div class='col-md-1'> </div>
{% elsif whichColumn == 2 %}
	<div class='col-md-1'></div>
{% endif %}
<div class='col-md-2 repo repoHover {% for language in repo.languages %} {{ language[0] }} {% endfor %}' data-name='{{ repo.repo_name | downcase }}' data-date='{{repo.datevalue}}'>
	<!-- button -->
	<div class='hover-container'>
		<div class='button-wrapper'>
			<a class='button' href='{{repo.url}}'>
				<img class='no-hover' src='{{ site.url }}/resources/images/github_logo.png'>
				<img class='hover' src='{{ site.url }}/resources/images/github_logo_hover.png'>
			</a>
			{% if repo.projectLink != "#" %}
			<a class='button' href='{{repo.projectLink}}'>
				<img class='no-hover' src='{{ site.url }}/resources/images/link_logo.png'>
				<img class='hover' src='{{ site.url }}/resources/images/link_logo_hover.png'>
			</a>
			{% endif %}
		</div>
		<div class='language-bar'>
			{% for language in repo.languages %}
			<span class={{language[0]}} style='width:{{language[1]}}%;'></span>
			{% endfor %}
		</div>
	</div>
	<!-- language circles -->
	<div class='languages'>
	{% for language in repo.languages %}
		<div class='language {{ language[0] }}-Order'>
			<span class='{{ language[0] }}'></span>
		</div>
	{% endfor %}
	</div>
<!-- content -->
	<div class='content'>
		<div class='title'><b>{{ repo.repo_name }}</b></div>
		<div class='date'>Date Created: {{ repo.datevalue | date: "%Y-%m-%d"  }} </div>
		<div class='description'>{{ repo.description }}</div>
	</div>
</div>
{% if whichColumn == 2 %}
	<div class='col-md-2 side-col'></div>
{% endif %}
{% if forloop.last or whichColumn == 2 %}
<!-- close the row if it's the last one or the end of the row -->
</div>
{% endif %}
{% endfor%}
</div>

<!--
this is to hold and rows display when a filter is on.
-->
<div class='filterTemp main'></div>
