---
layout: nocontent
title: Home
coffee_custom: home
custom_scss: home
---
<div class='slide intro active'>
  <div class='content-wrapper'>
    <div class='intro-wrapper'>
      <div class='text'></div>
      <div class='blinker'>_</div>
    </div>
    <div 'control-info'>
    </div>
  </div>
</div>
<!-- quick slides -->
<div class='slide'>
  <div class='content-wrapper'>
    <div class='title'>Quick View</div>
    {% for info in site.data.aboutme.quick-info %}
    <div class='button-wrapper'><button class='slide-btn btn' onclick='changeTo({{info.pos}})'>{{info.title}}</button></div>
    {% endfor %}
  </div>
</div>

<!--  real meat slides-->
{% for content in site.data.aboutme.content %}
<div class='slide'>
  <div class='content-wrapper'>
    {{ content.text }}
    {% if content.button %}
    <div class='button-wrapper'>
      <a class='btn slide-btn' href='{{content.button.link}}'>{{content.button.title}}</a>
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}

<!-- control and loading box -->
<div class='loading controls'>
  <div class='control-box first'>
    <div class='control-text'>Controls</div>
    <img src='/resources/images/arrows.png'>
  </div>
  <progress id='loadingBar' value="0" max="100"></progress>
</div>


<div class='main' style='margin:0;'>
  <!-- <div class='heading'>
    <div class='avatar-container'>
      <img class='avatar' src='{{ site.data.data.avatar_url }}&s=150'></img>
    </div>
    <div class='info-container'>
      <div class='name'>{{ site.data.data.fullname }}</div>
      <div class='github-info'>Github: <a href='https://github.com/{{ site.data.data.username }}'>{{ site.data.data.username }}</a></div>
      <a href='https://goo.gl/yFs4U6'>Resume</a>
    </div>
  </div> -->

  <div class='info' style='display:none;'>
    {% for content in site.data.aboutme.content %}
    {% assign whichColumn = forloop.index0 | modulo:3 %}
    {% if whichColumn == 0 %}
    <!-- row -->
    <div class='row'>
    	<div class='side-col'></div>
    {% elsif whichColumn == 1 %}
      <div class='inner-col'> </div>
    {% elsif whichColumn == 2 %}
      <div class='inner-col'></div>
    {% endif %}
      <div class='content-col'>
        <div class='title'><div class='title-forreal'>{{content[0]}}</div>
      <div class='line'></div></div>
        <!-- use to get height -->
        <div class='content-height'>{{content[1]}}</div>
      </div>

    {% if whichColumn == 2 %}
    	<div class='side-col'></div>
    {% endif %}
    {% if forloop.last or whichColumn == 2 %}
    <!-- close the row if it's the last one or the end of the row -->
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<script>
  // need to finish styling before showing
  // window.location='/projects'
</script>
