---
layout: nocontent
title: Home
coffee_custom: home
custom_scss: home
---
<div class='slide intro active'>
  <div class='content-wrapper'>
    <div class='intro-wrapper'>
      <div class='text'></div>
      <div class='blinker'>_</div>
    </div>
    <div 'control-info'>
    </div>
  </div>
</div>

<!-- quick slides -->
<div class='slide'>
  <div class='content-wrapper'>
    <div class='title'>Quick View</div>
    {% for info in site.data.aboutme.quick-info %}
    <div class='button-wrapper'><button class='slide-btn btn' onclick='changeTo({{info.pos}})'>{{info.title}}</button></div>
    {% endfor %}
  </div>
</div>

<!--  real meat slides-->
{% for content in site.data.aboutme.content %}
<div class='slide'>
  <div class='content-wrapper'>
    {{ content.text }}
    {% if content.button %}
    <div class='button-wrapper'>
      <a class='btn slide-btn' href='{{content.button.link}}'>{{content.button.title}}</a>
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}

<!-- control and loading box -->
<div class='loading controls '>
  <div class='control-box first hasHover'>
    <!-- <div class='control-text'>Controls</div> -->
    <div class='control-img'>
      <img src='/resources/images/up.png' onclick='changeTo(-1,-1)'>
      <img src='/resources/images/down.png'onclick='changeTo(-1,1)'>
      <!-- <img src='/resources/images/arrows.png'> -->
    </div>
  </div>
  <progress id='loadingBar' value="0" max="100"></progress>
</div>
