<footer class='footer'>
  <div class='footer-links'>
    {% for social in site.data.aboutme.social %}
      {% if social[1] != '#' %}
        <a  class='button' href='{{social[1]}}'>
          {% assign site = social[0] | append: '_icon.html' %}
          {% include {{site}} %}
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class='copyright'>
    <span>© {{ 'now' | date: "%Y" }} Josue Rojas</span>
    <span>
      <a href="https://github.com/josuerojasrojas/josuerojasrojas.github.io">Source</a>
    </span>
    <span>
      <a href="/readme">Readme</a>
    </span>
  </div>
</footer>

<script>
// set the footer in the right spot
// should move this to the default CoffeeScript
  footerReposition = function(){
    if($('body').height()+ $('.footer').height() + $('.footer').outerHeight()> $(window).height()){
      $('.footer').addClass('content-footer')
    }
    else{
      $('.footer').removeClass('content-footer')
    }
  }
  footerReposition()
  $(window).resize(footerReposition)
</script>
