 <nav class="navbar navbar-expand-lg navbar-dark">
       <button id='mainToggle' class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         <span class='toggle-name'>Menu</span>
       </button>
       <span class='nav-title'>{{page.title}}</span>
       {% if page.title == 'Projects'%}
       <button id='submenuToggle' class="navbar-toggler collapsed setting-button" type="button" data-toggle="collapse" data-target="#submenu" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class='toggle-name'>Options</span>
         {% include svg/Gear.svg %}
       </button>
       {% endif %}

       <div class="navbar-collapse justify-content-md-center collapse" id="mainNav">
         <ul class="navbar-nav">
           <li class="nav-item {% if page.title == 'Home' %}class='active' {%endif%}">
             <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item {% if page.title == 'Projects' %}class='active' {%endif%}">
             <a class="nav-link" href="/projects">Projects</a>
           </li>
           <li class="nav-item">
             <a class="nav-link" href='https://github.com/{{ site.data.data.username }}'>Github</a>
           </li>
         </ul>
       </div>
     </nav>
