//this sass is for defaults

// colors for defaults (nav, text, body, etc)
$lightess-color: #989DA1
$light-color: #535658
$medium-color: #171A1C
$dark-color: #0D1E2B
$darker-color: #01080D

// colors for languages and hover
$Shell: #89e051
$Shell-Hover: #5c9937
$Java:  #b07219
$Java-Hover:  #825312
$Python: #3572A5
$Python-Hover: #27547a
$JavaScript: #f1e05a
$JavaScript-Hover: #ada140
$HTML: #e34c26
$HTML-Hover: #a8371a
$CSS: #563d7c
$CSS-Hover: #2f2144
$CoffeeScript: #244776
$CoffeeScript-Hover: #12243d

body
  margin: 0
  background-color: $medium-color
a
  color: $light-color
  &:hover
    color: $lightess-color
    text-decoration: none
h1, h2, h3, p, body
  color: $lightess-color
