.footer
  position: absolute
  width: 100%
  bottom: 0
  padding: 1rem
  background-color: $darker-color
  text-align: center
  font-size: 14px
  .footer-links
    a:hover
      g
        fill: $lightess-color
    a
      svg
        width: 28px
    .button
      .hover
        display: none
    .button:hover
      .no-hover
        display: none
      .hover
        display: inherit
    margin-bottom: 3px
    span,a:not(:last-child)
      margin-right: 5px
  .copyright
    font-size: 12px

// footer modified for projects page (content is bigger than than vh and percent...)
.footer.content-footer
  margin-top: 10px
  bottom: inherit
