.footer
  position: absolute
  width: 100%
  bottom: 0
  padding: 1rem
  background-color: $darker-color
  text-align: center
  font-size: 14px
  .footer-links
    margin-bottom: 3px
    span:not(:last-child)
      margin-right: 5px
  .copyright
    font-size: 12px

// footer modified for projects page (content is bigger than than vh and percent...)
.footer.projects-footer
  margin-top: 10px
  bottom: inherit
