body
  background-color: black
.slide
  font-size: 1.35rem
  padding: 20px
  position: absolute
  width: 100vw
  height: 0
  display: flex
  justify-content: center
  align-items: center
  background: black
  transition: height 2s
  .content-wrapper
    text-align: center
    opacity: 0
    transition: opacity 2s
    .slide-btn
      color: white
      background-color: #566d7f
      margin-top: 15px
      transition: opacity 500ms
      width: 100%
    .slide-btn:hover
      opacity: .6
  .title
    font-size: 2rem

.slide.active
  height: 100vh
  .content-wrapper
    opacity: 1
  .button-wrapper
    width: 100%
    min-height: 3rem
    display: flex
    justify-content: center
    .btn
      cursor: pointer
      z-index: 99999

.intro
  font-size: 2rem
  flex-direction: column
  .intro-wrapper
    display: flex

.loading
  height: 100%
  width: 100%
  z-index: 100
  position: absolute
  progress
    transition: all 500ms
    width: 100%
    bottom: 0
    position: absolute
  .control-box
    bottom: 15px
    right: 10px
    position: absolute
    transition: opacity 500ms
    img
      height: 200px
    display: flex
    opacity: 0
    max-height: 200px
    height: 100%
    .control-text
      font-size: 1.35rem
      margin: auto 10px
  .control-box:hover
    opacity: .35
  .control-box.first
    opacity: .35
.blinking
  margin-left: 1px
  opacity: 0
