// this sass is for main page content
.main
  margin: 10px
.repo
  order: inherit !important
  background-color: $darker-color
  width: 100%
  margin: 10px 0
  +max-mobile
    // width: 20%
    // margin: 10px
  display: inline-block
  border: 1px solid $medium-color
  // padding: 1px
  border-radius: 5px
  .content
    margin: 0 10px 10px 10px
  .languages
    margin-left: 10px
    display: flex
    +max-mobile
      justify-content: center
  .title
    text-align: center


+max-mobile
  .col-md-2.repo
    flex: 0 0 22.666667%
    max-width: 22.666667%
  .side-col
    flex: 0 0 9.5%
  .col-md-1
    flex: 0 0 5.333333%
