// this sass is for project page content
// SHOULD CHANGE NAME AND ONLY LOAD IN PROJECTS PAGE

.main
  margin: 10px
.repo
  order: inherit !important
  background-color: $darker-color
  width: 100%
  margin: 10px 0
  display: inline-block
  .content
    margin: 0 10px 10px 0px
  .languages
    display: flex
  .title
    font-size: 18px
  .hover-container
    +langauge-colors
    width: 100%
    height: 100%
    margin-left: -15px
    display: none
    position: absolute
    justify-content: center
    align-items: center
    .language-bar
      display: flex
      margin-top: auto
      width: 100%
      span
        float: left
        height: 5px
    .button-wrapper
      position: absolute
      display: flex
      justify-content: center
    .button
      // position: absolute
      margin: 5px
      //max-height depends on font size
      max-height: 30px
      background-color: $medium-color
      padding: 3px 10px
      display: block
      color: $lightess-color
      z-index: 1000
      &:hover
        color: $darker-color
        background-color: $lightess-color
  +medium-devices
    .title
      text-align: center
    .content
      margin: 0 0 10px 0
    .languages
      justify-content: center

// hover and toggle repos
.repo.repoHover:hover, .buttonToggle
  .language, .content
    opacity: 0.2
  .content
    color: $darker-color
  .hover-container
    display: flex
    .button:hover
      color: $darker-color
      background-color: $lightess-color

// override bootstrap sizes for columns
+medium-devices
  .col-md-2.repo
    flex: 0 0 25%
    max-width: 25%
  .side-col
    flex: 0 0 6.5%
  .col-md-1
    flex: 0 0 6%

.filterTemp
  display: none

// this is for home/about me (might make this another sass file)
.heading
  +medium-devices
    margin: 0 10% 10px 10%
  display: flex
  justify-content: center
  .avatar
    float: left
    margin-right: 10px
