.navbar
  background-color: black
  width: 100vw
  display: flex
  flex-direction: column
  justify-content: center
  ul
    overflow: hidden
    list-style-type: none
    margin: 0
    padding: 0
    //this should change 
    width: 217px
    margin: auto
  li
    float: left
  li a
    display: block
    color: white
    padding: 8px 16px
    text-decoration: none
    text-align: center
  li,a
    &:hover
      background-color: #555
