//this sass is for navigation bar and sub navs

.navbar, .submenu
  background-color: $darker-color
  width: 100vw
  display: flex
  flex-direction: column
  justify-content: center
  ul
    overflow: hidden
    list-style-type: none
    margin: 0
    padding: 0
    margin: auto
  li
    float: left
    color: white
  li a
    border-radius: 5px
    display: block
    color: white
    padding: 8px 16px
    text-decoration: none
    text-align: center
    &:hover
      color: $light-color


.submenu, .language
  ul
    display: flex
  div, li
    width: 40px
    height: 40px
    margin: 5px
    border-radius: 50%
  .Shell
    background-color: $Shell
    &:hover
      background-color: $Shell-Hover
  .Java
    background-color: $Java
    &:hover
      background-color: $Java-Hover
  .Python
    background-color: $Python
    &:hover
      background-color: $Python-Hover
  .JavaScript
    background-color: $JavaScript
    &:hover
      background-color: $JavaScript-Hover
  .HTML
    background-color: $HTML
    &:hover
      background-color: $HTML-Hover
  .CSS
    background-color: $CSS
    &:hover
      background-color: $CSS-Hover
  .CoffeeScript
    background-color: $CoffeeScript
    &:hover
      background-color: $CoffeeScript-Hover
  //rainbow circle
  //https://codepen.io/nohoid/pen/kIfto source partial
  .rainbow-circle
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #dd00f3, #2b1de8, #1ddde8, #1de840, #e3e81d, #e8b71d, #e81d1d, #ff2400)
    background-size: 3000% 100%
    +prefix(animation, rainbow 20s ease infinite)

//this is an exeption to the rule (it's not a nav)
.language
  display: inline
  div
    display: inline-block
    width: 10px
    height: 10px
    margin: 2px
    border-radius: 50%
  span
    display: inline-block
    width: 10px
    height: 10px
    margin: 2px
    border-radius: 50%

//rainbow animation
+keyframes(rainbow)
    0%
      background-position: 0% 82%
    50%
      background-position: 100% 19%
    100%
      background-position: 0% 82%

//orders
.Shell, .Shell-Order
  order: 3
.Java, .Java-Order
  order: 8
.Python, .Python-Order
  order: 4
.JavaScript, .JavaScript-Order
  order: 2
.HTML, .HTML-Order
  order: 7
.CSS, .CSS-Order
  order: 6
.CoffeeScript, .CoffeeScript-Order
  order: 5
.rainbow-circle, .rainbow-circle-Order
  order: 1
